@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.min-h-screen {
    min-height: 100vh;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-around;
}

.item-center{
   align-items: center;
   text-align: center;
}

.font-style{
    font-weight: bold;
    
}

.justify-center{
    justify-content: center;
}

.flex-col{
 flex-direction: column;

}

.my-1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

.my-2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
   
}


.px-2{
    padding-left: 10px;
    padding-right: 10px;
}

.text-color{
    color: #f17c22;
    text-shadow: 2px 2px 2px rgb(86, 84, 84);
    font-size: 30px
}


.btn{
    padding: 5px 10px;
    background-color: #f17c22;
    font-size: 17px;
    border-radius: 10px;
    color:whitesmoke;
    cursor:pointer;
    border:none;
}

.btn:hover{
    /* text-shadow: 2px 2px 2px black; */
    box-shadow: 2px 2px 2px rgb(98, 97, 97);
}

.section2 h1{
    color: #f17c22;
}

.section1 h1{
    color:#f17c22;
}

.box{
    padding: 40px 0;
    min-width: 20vw;
    border: 2px solid #f17c22;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 4px gray;
}

.box ul {
    list-style: none;
}

.box ul li{
    margin :10px;
}

.box h2{
    /* border-radius: 10px; */
    padding: 10px;
    /* border: 3px solid black; */
    background-color: #f17c22;
    color:white;
}

.boxes{
    margin:20px;
    justify-content: center;
}

.section3 table{
width: 70vw;
border-collapse: collapse;
}

.section3 h2{
    font-size: 30px;
    color:#f17c22;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section3 table th{
    justify-content: center;
    text-align: center;
width:50vw;
border-bottom: 1px solid #f17c22;
padding: 20px;


}

.section3 table td{
    /* border-right: 1px solid #f17c22;*/
    border-bottom: 1px solid #f17c22; 
    
}

.section3{
    margin: 100px 25px;
}